@use './../../styles/variables.module.scss' as vars;

.pagination {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    &__pagenumber {
        all: unset;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 38px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;

        &--active {
            background-color: vars.$color-brand;
        }

        &:hover {
            background-color: vars.$color-brand;
            cursor: pointer;
        }
    }

    &__arrow {
        all: unset;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: vars.$color-brand;
            cursor: pointer;
        }

        &:disabled {
            filter: grayscale(1) opacity(0.3);

            &:hover {
                background-color: transparent;
                cursor: not-allowed;
            }
        }
    }
}

@media (max-width: vars.$breakpointsXS) {
    .pagination {
        &__pagenumber {
            width: vars.$spaceL;
            height: vars.$spaceL;
            font-size: vars.$spaceM;
        }

        &__arrow {
            width: vars.$spaceL;
            height: vars.$spaceL;

        }
    }

}