@use './../../styles/variables.module.scss' as vars;

.headerNav {
  position: relative;

  .burger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: vars.$color-brand;
    padding: 10px;
    margin: 10px;
    transition: transform 0.3s ease;

    @media (max-width: 850px) {
      display: block;
    }

    &.active {
      transform: rotate(90deg);
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(19, 13, 10, 0.8);
    animation: fadeIn 0.5s ease forwards;
    z-index: 10;

    .dropdownMenu {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.2);
      background: rgb(241, 213, 185);
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
      padding: 20px;
      animation: scaleIn 0.5s ease forwards;

      .navList {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .navItem {
          margin: 15px 0;

          .navLink {
            color: black;
            font-size: 20px;
            transition: color 0.3s ease;

            &:hover {
              color: vars.$color-brand;
            }
          }
        }
      }
    }
  }
}


.navMenu {
  display: flex;
  align-items: center;
  height: 100%;

  .navList {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    gap: vars.$spaceL;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: 100%;


    .navItem {
      list-style-type: none;

      .navLink {
        color: black;
        position: relative;

        &:hover {
          color: vars.$color-brand;
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -17px;
          height: 2px;
          background-color: vars.$color-brand;
          transform: scaleX(0);
          transition: transform 0.3s ease;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .navMenu {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: translate(-50%, -50%) scale(1.2);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
  }
}