 $color-brand: #B5460F;
 $color-brand-hover: #B5460FB2;
 $color-brand-active: #872D01;
 $error-color: #ff4d4d;
 $spaceXL: 24px;
 $spaceL: 20px;
 $spaceM: 16px;
 $spaceS: 14px;
 $spaceXS: 12px;
 $spaceXXS: 8px;
 $color-optionHover: #AFADB5;
 $maxWidth: 1440px;
 $breakpointsXS: 375px;
 $breakpointsS: 768px;
 $breakpointsM: 1024px;
 $breakpointsL: 1440px;
 $backgroundMenu: rgb(241 213 185 / 89%);
