@use './../../../styles/variables.module.scss' as vars;

.container {
    background-color: #FAFAFA;
    width: 100%;
    margin-top: 50px;

    &__search {
        display: flex;
        flex-direction: row;
        margin-bottom: vars.$spaceXL;

        &--grow {
            flex-grow: 1;
            margin-right: vars.$spaceXL;
        }
    }

    &__filter {
        width: 300px;
    }

    &__result {
        margin-top: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: vars.$spaceXL;
    }
}

@media (max-width: vars.$breakpointsXS) {
    .container {
        &__filter {
            width: 200px;
        }
    }
}